body {
  background-color: #eee;
}

.container {
  padding-bottom: 60px; 
}

.reward-card {
  border: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s; 
  height: 100%;
  display: flex;
  flex-direction: column;
}

.reward-card:hover {
  transform: translateY(-5px); 
}

.reward-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.reward-card .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.reward-icon {
  font-size: 3rem; 
  color: #007bff; 
}

.redeem-button {
  background-color: #007bff;
  border: none;
}

.reward-card.current-points {
  background-color: whitesmoke;
  color: #28a745;
}

