.navbar-first{
    background-color: rgb(243, 243, 191);
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navbar-first .navbar-text {
    color: black;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-second {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 120px; 
    padding: 0 15px; 
    border: none;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%; 
    display: flex;
    align-items: center; 
}

.navbar-logo img {
    max-height: 120px; 
    width: auto; 
}

.navbar-second .search-input {
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    outline: none;

}

.navbar-second .search-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    cursor: pointer;
}

.search-btn:focus {
    outline: none; 
    box-shadow: none;
}

.navbar-second .search-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

@media (max-width: 768px ) {
    .navbar-second .search-input {
        width: 100%; 
    }

    .navbar-second .search-btn {
        margin-left: 10px; 
    }
}
.d-flex a {
    font-size: 1.8rem;
    transition: color 0.3s ease;
}

.d-flex .fa-shopping-cart {
    color:rgb(219, 159, 49)

}

.d-flex .fa-user-circle {
    color: rgb(219, 159, 49)
}

.d-flex .fa-heart {
    color: rgb(219, 159, 49)
}

.d-flex a:hover {
    color: black
}

.d-flex .me-3 {
    margin-left: 1rem;
    position: relative;
    right: 40px;
}

.btn-outline-secondary {
    color: black;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 20px; 
    transition: all 0.3s ease; 
    display: flex; 
    position: absolute;
    top: 10px;
    right: 10px;
}

.offcanvas-end {
    background-color: whitesmoke;
    width: 320px !important; 
}

.offcanvas-header {
    background-color: #eee; 
    color: black;
    padding: 15px;
    display: flex;
    justify-content: center; 
}

.offcanvas-title {
    font-size: 24px;
    font-weight: bold;
}

.offcanvas-body a {
    display: block;
    color: black; 
    padding: 15px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.offcanvas-body a:hover {
    background-color: #eee; 
    border-radius: 5px;
}

.offcanvas-header .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-third {
    background-color: white;
    padding: 10px 0;
    
}

.navbar-third .nav-link {
    font-size: 17px;
    color: black;
    padding: 10px 15px;
    font-weight: bold;
    margin-right: 20px;

}

.navbar-third .nav-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar-third .nav-link {
        font-size: 14px;
    }
}



